* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
    
body {
  background: #f3f3f3;
  margin: 0;
  padding: 0px;
  overflow-x:hidden; }

.my-class {
  color: red; }

.color {
  width: 100px;
  height: 100px;
  display: block;
  background: red;
  margin-bottom: 15px; }

.form-group button {
  margin-top: 15px; }